# Env
.env
.venv/

# Data
data/raw/*
!data/raw/.gitkeep
data/db.sqlite3
data/logs/*
!data/logs/.gitkeep
data/dead_letter/*
!data/dead_letter/.gitkeep
/dsa/parsed_data.json

# Python/cache/editor
__pycache__/
*.pyc
.DS_Store
.vscode/
